$sMg: 8px;
$mMg: 16px;
$lMg: 24px;
$xlMg: 32px;
$xxlMg: 40px;
$xxxlMg: 48px;
$radius: 10px;
$border: 1px solid #efefef;
$box-shadow:  0 3px 20px rgb(123,125,228,0.2);
$color: rgb(64, 158, 255);
$color_success: #67C23A;
$color_warning: #E6A23C;
$color_error: #F56C6C;